:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-deep-brown: #262626;
  --color-deep-blue: #1b1c55;
  --color-blue: #2f2888;
  --color-light-grey: #a7a3a3;

  --shadow: 2px 2px 6px 3px rgba(255, 255, 255, 0.4);
  --shadow-hover: 6px 6px 14px 4px rgba(255, 255, 255, 0.5);

  --color-grey: #4b4b4b;
  --color-light-blue: #07d6f2;
  --color-purple: #17002f;
  --color-yellow: #ffc107;
  --color-pink: #c956ff;
  --color-light-green: #cfdab0;
  --color-green: #73d677;
  --color-orange: #f28f16;

  // --media-s: 640px;
  // --media-m: 990px;
  // --media-l: 1200px;
}
